
<div class="visible" style="flex-direction: column; height:100%; overflow-y: auto;">
    {% for chat in my_chats %}
        <div class="example-chat" data-id="{{ chat.id }}">
            <div class ="avatar">{{chat.img_chat}}</div>
            <div class="all-exam">
                <div class="name-hact">
                    <p class="name">{{chat.name_chat}}</p>
                    <p>15m ago</p>
                </div>
                <div>
                    <p>{{chat.last_msg}}</p> 
                </div>
            </div>
        </div>
    {% endfor %}
</div>
