<div class="your-chat">
    <div class="header-your-chat">
        <p>Ваш чат</p>
        <img src="{{url_for('chat.static', filename = 'images/bin.png')}}" alt="" class="del" data-id="{{ created_chat.id }}" style="cursor: pointer;">
    </div>
    <div class="example-chat" data-id="{{ created_chat.id }}">
        <div class="avatar">{{created_chat.img_chat}}</div>
        <div class="all-exam">
            <div class="name-hact">
                <p class="name">{{ created_chat.name_chat }}</p>
                <p>{{ created_chat.last_msg_time }}</p>
            </div>
            <div>
                <p class="last-msg">{{ created_chat.last_msg[:10] }}{% if created_chat.last_msg|length > 10 %}...{% endif %}</p>
            </div>
        </div>
    </div>
</div>
