<div class="sec" style="display: none;">
    <div class="second">
        <div class="modal-header">
            <p>Видалити чат?</p>
            <img 
                src="{{ url_for('static', filename='images/close.png') }}" 
                alt="" 
                class="close2"
            >
        </div>

        <div class="modal-text">
            <p>
                Ви впевнені, що хочете видалити цей чат? <br>
                У будь-який момент ви можете створити новий.
            </p>
        </div>

        <div class="btns">
            <button type="button" class="cancel2">
                Скасувати
            </button>
            
            <button type="submit" class="delete">
                Видалити
            </button>
        </div>
    </div>
</div>
