<div class="sec2" style="display: none;">
    <div class="second">
        <div class="modal-header">
            <p>Вийти з чату?</p>
            <img 
                src="{{ url_for('static', filename='images/close.png') }}" 
                alt="" 
                class="close22"
            >
        </div>

        <div class="modal-text">
            <p>
                Ви впевнені, що хочете вийти з цього чату ?
            </p>
        </div>

        <div class="btns">
            <button type="button" class="cancel22">
                Скасувати
            </button>
            
            <button type="submit" class="delete2">
                Вийти
            </button>
        </div>
    </div>
</div>