<div class="btn-div">
    <img src="{{url_for('static', filename = 'images/close.png')}}" alt="" class="close2 closing">
</div>
<div class="ava-div">
    <div class="avatar">
        <p class="letter-avatar">{{letters_ava}}</p>
        
    </div>
</div>

<div class="short-info">
    <p class="name-last">{{first_name}} {{last_name}}</p>
    <p class="username">@{{username}}</p>
</div>
<div class='account-info-list'>
    <div class="second-info">
        <p class="light-text">Дата народження</p>
        <p class="main-text age">{{age}}</p>
    </div>
    <div class="second-info">
        <p class="light-text">Стать</p>
        <p class="main-text gen">{{gender}}</p>
    </div>
</div>