
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    {% block links %}{% endblock %}
</head>
<body class="body">
    {% if login %}
        <div class="header">
            <div class="logo">
                <img src="{{ url_for('chat.static', filename='images/logo.svg') }}" alt="">
                <p>Chat</p>
            </div>
            <img src="{{ url_for('chat.static', filename='images/notif.svg') }}" alt="">
            <img src="{{ url_for('chat.static', filename='images/settings.svg') }}" alt="" class="open-modal" style="cursor: pointer;">
            {% if avatar %}
                <img src="{{ url_for('chat.static', filename=avatar) }}" alt="" class="ava">
            {% else %}
                <div class="avatar opening">{{letters_ava}}</div>
            {% endif %}
        </div>
        <div class="modal-bg"></div>
        <div style="display: none;" class="modal">
            <div class="settings">
                <p>Налаштування</p>
                <img src="{{ url_for('static', filename='images/close.png') }}" alt="" class="img-set">
            </div>
            <hr style="width: 100%; color: #007AFF26">
            <div class="img-prof">
                <p>Зображення профілю</p>
                <div class="editing">
                    <div class="avatar">
                        {% if avatar %}
                            <img src="{{ url_for('chat.static', filename=avatar) }}" alt="" class="ava">
                        {% else %}
                            {{ letters_ava }}
                        {% endif %}
                    </div>
                    <form id="photoForm" enctype="multipart/form-data">
                        <input
                            type="file"
                            id="photoInput"
                            name="photo"
                            accept="image/*"
                            hidden
                        >

                        <label for="photoInput" class="btn-change">
                            Замінити
                        </label>
                    </form>
                    <button type="button" class="btn-del">
                        <img src="{{ url_for('static', filename='images/trash.png') }}" alt="" style="width: 1rem; height: 1rem;">
                        Видалити
                    </button>
                </div>
            </div>
            <hr style="width: 100%; color: #007AFF26">
            <form action="/get-data" method="post" class="data-user">
                <label class="label-inp">
                    Ім’я
                    <input type="text" name="first_name" minlength="2" class="inp" value="{{user.first_name or ''}}">
                </label>
                <label class="label-inp">
                    Прізвище
                    <input type="text" name="last_name" minlength="3" class="inp" value="{{user.last_name or ''}}">
                </label>
                <label class="label-inp">
                    Ім’я користувача
                    <input type="text" name="username" minlength="2" class="inp" value="{{user.username or ''}}">
                </label>
                <label class="label-inp">
                    Стать
                    <select name="gender" class="inp">
                        <option value="female" {% if user.gender == "female" %}selected{% endif %}>
                            Жіноча
                        </option>
                        <option value="male" {% if user.gender == "male" %}selected{% endif %}>
                            Чоловіча
                        </option>
                    </select>
                </label>
                <label class="label-inp">
                    Вік
                    <input type="date" name="birth_date" class="inp" value="{{user.age or ''}}">
                </label>
                <hr style="width: 95%; color: #007AFF26">
                <a href="/del-user/" class="btn-sel" style="width: 100%; justify-content:start">
                    <img src="{{ url_for('static', filename='images/trash.png') }}" alt="" style="width: 1rem; height: 1rem;">
                    Видалити аккаунт
                </a>
                <hr style="width: 95%; color: #007AFF26">
                <div class="btns">
                    <button type="button" class="btn-1">Скасувати</button>
                    <button type="submit" class="btn-2">Зберегти</button>
                </div>
            </form>
        </div>
    {% endif %}
    {% block content %}{% endblock %}
    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
</body>
</html>
