
.right-part,
.right-part *{
    box-sizing: border-box;
}
** {
    font-family: 'Inter', sans-serif;
}
.right-part{
    display: flex;
    width: 26.5vw;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border: 1px #E2E1EC solid;
}

.users{
    display: flex;
    width: 100%;
    min-height: 6.4vh;
    padding: 1.5vw 2.4vh 1.5vw 2.4vh;
    flex-direction: column;
    flex-shrink: 0;
}

.status{
    display: flex;
    gap: 0.8vw;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.status-users{
    display: flex;
    gap: 0.3vw;
    align-items: center;
    justify-content: center;
    color: #999999;
    white-space: nowrap;
}

.people-online{
    display: flex;
    width: 100%;
    flex: 1;
    padding: 8px;
    flex-direction: column;
    overflow-y: auto;
}

.person{
    display: flex;
    width: 100%;
    min-height: 4.8vh;
    padding: 0.8vh 0.9vw 0.8vh 0.9vw;
    gap: 1vw;
    flex-direction: row;
    align-items: center;
}
.person img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    flex-shrink: 0;
}
.person p{
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.account-settings{
    display: flex;
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E2E1EC;
    padding: 16px;
    text-align: center;
    flex-shrink: 0;
}
