{% extends "base.html" %}


{% block links %}
<link rel="stylesheet" href="{{url_for('chat.static', filename='css/left.css') }}">
<link rel="stylesheet" href="{{url_for('chat.static', filename='css/chat.css') }}">
<link rel="stylesheet" href="{{url_for('chat.static', filename='css/right.css') }}">
<link rel="stylesheet" href="{{url_for('chat.static', filename='css/create-chat.css') }}">
<link rel="stylesheet" href="{{url_for('chat.static', filename='css/delete-chat.css') }}">
{% endblock  %}

{% block content %}
<div class="all-page-chat">
    <div class="left-part">
        <div class="search-chat" style="border: 1px #E2E1EC solid;">
            <input type="text" name="search" placeholder="Пошук чатів..." style="border: none; width:22vw" class="search">
        </div>
        <!-- <hr style="width: 26.5vw;"> -->
        <div class="all-chats">

            {% include 'particles/modal-del.html' %}

            <!-- создать/созданный чат -->
            {% if created_chat is none  %}
                <div class="creat">
                    <button class="create-chat-class">+ Створити чат</button>
                    {% include 'particles/create-chat.html' %}
                </div>
            {% else %}
                {% include 'particles/created-chat.html' %}
                <!-- <hr style="width: 26.5vw;"> -->
            {% endif %}

            


            {% if my_chats %}
                {% include 'particles/all-chats.html' %}
            {% endif %}
            <div class="search-results" style="display: none; flex-direction: column"></div>

        </div>
    </div>

    {% include 'particles/modal-leaving.html' %}
    <div class="chat-place">
        <div class="settings-chat">
            <p class="name-chat">Оберіть чат</p>
            <div>
                <img src="{{url_for('chat.static', filename = 'images/search.png')}}" alt="" style="cursor: pointer;">
                <img src="{{url_for('chat.static', filename = 'images/more.png')}}" alt="" class="leaving" style="cursor: pointer;">
            </div>
        </div>
        <!-- <hr style="width: 46vw;"> -->


        <div class="no-chat" style="display: flex; align-items: center; justify-content: center;">
            <img src="{{ url_for('chat.static', filename='images/noone.svg') }}" alt="" style="width: 306px; height: 176px;">
        </div>

        <div
            class="chat"
            data-current-user-id="{{ current_user.id }}"
            data-current-username="{{ current_user.username or current_user.email }}"
            style="display: none;"
        >
        </div>
        <!-- <hr style="width: 46vw;"> -->
        <div class="message-panel">
            <div class="place-for-message">
                <img src="{{url_for('chat.static', filename = 'images/emoji.png')}}" alt="">
                <form action="" method="post" class="message-form">
                    <input class="typing-field" type="text" placeholder="Введіть повідомлення..." name="message">
                    <button type="submit" class="sub"><img src="{{url_for('chat.static', filename = 'images/send.png')}}" alt=""></button>
                    
                </form>
            </div>
        </div>
        
    </div>


    <div class="right-part">
        <div class="users">
            <p style="font-size: 1.25rem; margin:0px; font-weight:400">Користувачі</p>
            <div class="status">
                <div class="status-users">
                    <img style="width: 12px; height:12px;" src="{{url_for('chat.static', filename = 'images/people.png')}}" alt="">
                    <p style="font-size: 0.75rem">24 пользователя</p>
                </div>
                <div class="status-users">
                    <img style="width: 12px; height:12px;" src="{{url_for('chat.static', filename = 'images/people.png')}}" alt="">
                    <p style="font-size: 0.75rem">8 online</p>
                </div>
            </div>
        </div>
        <div class="people-online">
            {% for i in range(8) %}
                <div class="person">
                    <img src="{{url_for('chat.static', filename = 'images/avatar.png')}}" alt="">
                    <p>Іван Петренко</p>
                </div>
            {% endfor %}
        </div>
        <div class="account-settings">
            Тут будуть настройки акаунта
        </div>
    </div>
</div>

<script src="{{ url_for('chat.static', filename='js/modalCreateChat.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"></script>
<script src="{{ url_for('chat.static', filename='js/searching.js') }}"></script>
<script type="module" src="{{ url_for('message.static', filename='js/openChat.js') }}"></script>
<script type="module" src="{{ url_for('message.static', filename='js/leavingChat.js') }}"></script>
{% endblock  %}
