*{
    font-family: 'Inter', sans-serif;
}

button{
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition:0.3s;
}

.modal{
    display:flex;
    flex-direction:column;

    border-radius:0.4rem;
    width:min(29vw, 29rem);
    height:auto;
    max-height:calc(100dvh - 2rem);

    gap:1rem;
    padding:1rem;

    border:0.0625rem #E2E1EC solid;
    background-color:white;

    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:1000;

    overflow-y:auto;
}

.modal-bg{
    display:none;
    position:fixed;
    inset:0;
    background-color:rgba(0, 0, 0, 0.45);
    z-index:999;
}

.settings{
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items:center;
}

.img-set{
    width:1rem;
    height:1rem;
    cursor:pointer;
}

.data-user{
    display:flex;
    width:100%;
    flex-direction:column;
    gap:1rem;
}

.img-prof{
    width:100%;
    height:auto;
}

.label-inp{
    display:flex;
    width:100%;
    flex-direction:column;
    gap:0.5rem;
}

.editing{
    display:flex;
    width:100%;
    align-items:center;
    justify-content:left;
    gap:1rem;
}

.ava{
    border-radius:50%;
    width:4rem;
    height:4rem;
}

.inp{
    width:100%;
    /* max-width:28.9vw; */
    height:2.5rem;
    border-radius:0.25rem;
    border:0.0625rem #E4E4E7 solid;
}

.btn-sel{
    display:flex;
    align-items:center;
    justify-content:center;
    width:auto;
    height:2rem;
    background-color:transparent;
    border:none;
    color:#09090B;
}

.btns{
    display:flex;
    width:100%;
    justify-content:flex-end;
    gap:1rem;
}

.btn-1{
    width:auto;
    min-width:7rem;
    height:2.5rem;
    color:#007AFF;
    background-color:transparent;
    border:0.0625rem #007AFF solid;
    border-radius:0.4rem;
}

.btn-2{
    width:auto;
    min-width:7rem;
    height:2.5rem;
    color:#FAFAFA;
    background-color:#007AFF;
    border-radius:0.4rem;
    border:none;
}

.btn-change{
    width:auto;
    min-width:7rem;
    height:4rem;
    padding:0.70rem 0.75rem;
    color:#007AFF;
    background-color:transparent;
    border:0.0625rem #007AFF solid;
    border-radius:0.4rem;
}

.btn-del{
    width:auto;
    min-width:7rem;
    height:2.5rem;
    padding:0 0.75rem;
    color:#0D133F;
    background-color:transparent;
    border:0.0625rem #0D133F solid;
    border-radius:0.4rem;
}

.btn-1:hover,
.btn-change:hover{
    background-color:#007AFF;
    color:white;
}

.btn-2:hover{
    background-color:#0062cc;
}

.btn-del:hover{
    background-color:#0D133F;
    color:white;
}

.btn-sel:hover{
    color:#007AFF;
}

